.forms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: auto;
  height: auto; 
}

.forms-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #5DB075;
  padding: 8px 16px;
  color: rgb(0, 0, 0);
  position: relative;
}

.profile-image {
  border-radius: 50%;
  margin-top: 20px;
  width: 250px;
  height: 250px;
}

.menu-button {
  color: rgb(0, 0, 0);
  position: absolute;
  left: 16px;
  font-size: 24px;
  padding: 12px;
}

.menu-button mat-icon {
  font-size: 30px;
  font-weight: bold;
}

h1 {
  margin: 8px 0;
  margin-top: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}

.back-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.back-button {
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin-right: auto;
  padding: 12px;
  margin-top: 6px;
}

.back-button mat-icon {
  font-size: 30px;
  font-weight: bold;
}

.feedback-cards-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feedback-card {
  display: flex;
  flex-direction: column;
  width: 388px;
  padding: 16px;
  box-sizing: border-box;
  background: white; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.feedback-title-input {
  flex-grow: 1;
  font-size: 1.25rem;
  border: none;
  outline: none;
  padding: 8px;
  text-align: left;
}

.feedback-icon {
  margin-left: 8px;
}

.mat-menu-button {
  margin-left: 8px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.responses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.responses-label {
  margin: 0;
  font-size: 20px;
}

.response-count {
  margin: 0;
  font-size: 25px;
  font-weight: bolder;
}

.view-analytics {
  align-self: flex-end;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}

.view-analytics mat-icon {
  margin-right: 8px;
}

.new-button {
  height: 50px;
  width: 280px;
  padding: 0.75rem;
  background-color: #5DB075;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 70px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}
