<div [ngClass]="settings.theme === 'dark' ? 'dark-theme' : 'light-theme'">
<div class="forms-container">
  <header class="forms-header">
    <button mat-icon-button class="menu-button" (click)="openSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Forms</h1>
    <img src="path/to/profile/image.jpg" alt="Profile" class="profile-image">
  </header>
  <div class="back-button-container">
    <button mat-icon-button class="back-button">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>

  <!-- Place your feedback cards here -->
  <div class="feedback-cards-container">
    <mat-card class="feedback-card">
      <div class="card-header">
        <input matInput placeholder="Feedback Title" class="feedback-title-input">
        <mat-icon class="feedback-icon">edit</mat-icon>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-menu-button">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/admin-form-customize">Edit</button>
          <button mat-menu-item>Delete</button>
          <button mat-menu-item>Generate</button>
        </mat-menu>
      </div>
      <div class="card-content">
        <div class="responses">
          <span class="responses-label">Responses</span>
          <span class="response-count">100</span>
        </div>
        <button mat-button class="view-analytics" routerLink="/admin-form-analytics">
          <mat-icon>visibility</mat-icon>
          View Analytics
        </button>
      </div>
    </mat-card>

    <!-- Add more cards as needed -->

  </div>
  <button type="submit" class="new-button">New</button>
</div>


</div>