
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px; 
  margin: auto; 
  height: 100vh; 
  padding: 0 16px;
}

.settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  height: 80px;
  background-color: #5DB075;
  padding: 8px 16px; 
  color: rgb(0, 0, 0);
  position: relative;
}

.settings {
  flex: 1 1 auto;
  margin: 8px 0;
  margin-top: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
}

.menu-button {
  color: rgb(0, 0, 0);
  font-size: 24px; 
  padding: 12px; 
}

.menu-button mat-icon {
  font-size: 30px; 
  font-weight: bold;
}

.whole-container{
  margin-top: 30px;
}

.lightmode-change-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  max-width: 300px; 
  margin-top: 20px; 
}

.lightmode-container,
.change-container {
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  font-weight: 550;
  font-size: 20px;
}

.change-container {
  display: flex;
  align-items: center;
}

.line {
  content: '';
  width: 100%;
  max-width: 350px; 
  height: 2px; 
  background-color: #B7B7B7; 
  margin-top: 20px; 
}

.notifications-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  max-width: 300px; 
  margin-top: 20px; 
  font-size: 20px;
}

.notifications {
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  font-weight: 550;
}

.allow-notif {
  font-size: 18px;
}

.line2 {
  content: '';
  width: 100%;
  max-width: 350px; 
  height: 2px; 
  background-color: #B7B7B7; 
  margin-top: 20px; 
}

.color-box {
  width: 310px;
  height: 120px;
  background-color: #f5f5f5; 
  margin-top: 100px; 
}

.delete-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px; /* Space between mat-card and button */
}

.delete {
  text-align: center;
  width: 280px;
  height: 55px;
  border-radius: 100px;
  background-color: #d9534f; /* Red color for deletions */
  font-size: 16px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  color: #ffffff;
  border: 2px solid #d9534f; /* Border color matching the background */

}

::ng-deep .mat-mdc-radio-button {
  // Default color properties for radio buttons
  --mdc-radio-unselected-focus-icon-color: #040201;
  --mdc-radio-unselected-hover-icon-color: #040201;
  --mdc-radio-unselected-icon-color: #040201;
  --mdc-radio-unselected-pressed-icon-color: #040201;

  --mdc-radio-selected-focus-icon-color: #33FF57;
  --mdc-radio-selected-hover-icon-color: #33FF57;
  --mdc-radio-selected-icon-color: #33FF57;
  --mdc-radio-selected-pressed-icon-color: #33FF57;

  --mat-mdc-radio-ripple-color: rgba(0, 0, 0, 0.1);
  --mat-mdc-radio-checked-ripple-color: rgba(0, 0, 0, 0.1);

  &:nth-of-type(1) {
    --mdc-radio-unselected-focus-icon-color: #FF5733; // Focus color
    --mdc-radio-unselected-hover-icon-color: #FF5733; // Hover color
    --mdc-radio-unselected-icon-color: #FF5733; // Default color
    --mdc-radio-unselected-pressed-icon-color: #FF5733; // Pressed color

    --mdc-radio-selected-focus-icon-color: #FF0000; // Focus color
    --mdc-radio-selected-hover-icon-color: #FF0000; // Hover color
    --mdc-radio-selected-icon-color: #FF0000; // Selected color
    --mdc-radio-selected-pressed-icon-color: #FF0000; // Pressed color

    --mat-mdc-radio-ripple-color: rgba(255, 0, 0, 0.2);
    --mat-mdc-radio-checked-ripple-color: rgba(255, 0, 0, 0.2);
  }

  &:nth-of-type(2) {
    --mdc-radio-unselected-focus-icon-color: #33FF57;
    --mdc-radio-unselected-hover-icon-color: #33FF57;
    --mdc-radio-unselected-icon-color: #33FF57;
    --mdc-radio-unselected-pressed-icon-color: #33FF57;

    --mdc-radio-selected-focus-icon-color: #00FF00;
    --mdc-radio-selected-hover-icon-color: #00FF00;
    --mdc-radio-selected-icon-color: #00FF00;
    --mdc-radio-selected-pressed-icon-color: #00FF00;

    --mat-mdc-radio-ripple-color: rgba(0, 255, 0, 0.2);
    --mat-mdc-radio-checked-ripple-color: rgba(0, 255, 0, 0.2);
  }

  &:nth-of-type(3) {
    --mdc-radio-unselected-focus-icon-color: #3357FF;
    --mdc-radio-unselected-hover-icon-color: #3357FF;
    --mdc-radio-unselected-icon-color: #3357FF;
    --mdc-radio-unselected-pressed-icon-color: #3357FF;

    --mdc-radio-selected-focus-icon-color: #0000FF;
    --mdc-radio-selected-hover-icon-color: #0000FF;
    --mdc-radio-selected-icon-color: #0000FF;
    --mdc-radio-selected-pressed-icon-color: #0000FF;

    --mat-mdc-radio-ripple-color: rgba(0, 0, 255, 0.2);
    --mat-mdc-radio-checked-ripple-color: rgba(0, 0, 255, 0.2);
  }

  &:nth-of-type(4) {
    --mdc-radio-unselected-focus-icon-color: #FFB833;
    --mdc-radio-unselected-hover-icon-color: #FFB833;
    --mdc-radio-unselected-icon-color: #FFB833;
    --mdc-radio-unselected-pressed-icon-color: #FFB833;
    --mdc-radio-selected-focus-icon-color: #FFA500;
    --mdc-radio-selected-hover-icon-color: #FFA500;
    --mdc-radio-selected-icon-color: #FFA500;
    --mdc-radio-selected-pressed-icon-color: #FFA500;
    --mat-mdc-radio-ripple-color: rgba(255, 165, 0, 0.2);
    --mat-mdc-radio-checked-ripple-color: rgba(255, 165, 0, 0.2);
  }

  &:nth-of-type(5) {
    --mdc-radio-unselected-focus-icon-color: #D9534F;
    --mdc-radio-unselected-hover-icon-color: #D9534F;
    --mdc-radio-unselected-icon-color: #D9534F;
    --mdc-radio-unselected-pressed-icon-color: #D9534F;

    --mdc-radio-selected-focus-icon-color: #C8102E;
    --mdc-radio-selected-hover-icon-color: #C8102E;
    --mdc-radio-selected-icon-color: #C8102E;
    --mdc-radio-selected-pressed-icon-color: #C8102E;
    --mat-mdc-radio-ripple-color: rgba(200, 16, 46, 0.2);
    --mat-mdc-radio-checked-ripple-color: rgba(200, 16, 46, 0.2);
  }

  &:nth-of-type(6) {
    --mdc-radio-unselected-focus-icon-color: #6A1B9A;
    --mdc-radio-unselected-hover-icon-color: #6A1B9A;
    --mdc-radio-unselected-icon-color: #6A1B9A;
    --mdc-radio-unselected-pressed-icon-color: #6A1B9A;
    --mdc-radio-selected-focus-icon-color: #8E24AA;
    --mdc-radio-selected-hover-icon-color: #8E24AA;
    --mdc-radio-selected-icon-color: #8E24AA;
    --mdc-radio-selected-pressed-icon-color: #8E24AA;
    --mat-mdc-radio-ripple-color: rgba(142, 36, 170, 0.2);
    --mat-mdc-radio-checked-ripple-color: rgba(142, 36, 170, 0.2);
  }

  &:nth-of-type(7) {
    --mdc-radio-unselected-focus-icon-color: #00BCD4;
    --mdc-radio-unselected-hover-icon-color: #00BCD4;
    --mdc-radio-unselected-icon-color: #00BCD4;
    --mdc-radio-unselected-pressed-icon-color: #00BCD4;
    --mdc-radio-selected-focus-icon-color: #00ACC1;
    --mdc-radio-selected-hover-icon-color: #00ACC1;
    --mdc-radio-selected-icon-color: #00ACC1;
    --mdc-radio-selected-pressed-icon-color: #00ACC1;
    --mat-mdc-radio-ripple-color: rgba(0, 172, 193, 0.2);
    --mat-mdc-radio-checked-ripple-color: rgba(0, 172, 193, 0.2);
  }
}