
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px; 
  margin: auto; 
  height: 100vh; 
  padding: 0 16px;
}

.settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  height: 80px;
  background-color: #5DB075;
  padding: 8px 16px; 
  color: rgb(0, 0, 0);
  position: relative;
}

.settings {
  flex: 1 1 auto;
  margin: 8px 0;
  margin-top: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
}

.menu-button {
  color: rgb(0, 0, 0);
  font-size: 24px; 
  padding: 12px; 
}

.menu-button mat-icon {
  font-size: 30px; 
  font-weight: bold;
}

.whole-container{
  margin-top: 30px;
}

.lightmode-change-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  max-width: 300px; 
  margin-top: 20px; 
}

.lightmode-container,
.change-container {
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  font-weight: 550;
  font-size: 20px;
}

.change-container {
  display: flex;
  align-items: center;
}

.line {
  content: '';
  width: 100%;
  max-width: 350px; 
  height: 2px; 
  background-color: #B7B7B7; 
  margin-top: 20px; 
}

.notifications-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  max-width: 300px; 
  margin-top: 20px; 
  font-size: 20px;
}

.notifications {
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  font-weight: 550;
}

.allow-notif {
  font-size: 18px;
}

.line2 {
  content: '';
  width: 100%;
  max-width: 350px; 
  height: 2px; 
  background-color: #B7B7B7; 
  margin-top: 20px; 
}

.color-box {
  width: 310px;
  height: 120px;
  background-color: #f5f5f5; 
  margin-top: 100px; 
}

.delete-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px; /* Space between mat-card and button */
}

.delete {
  text-align: center;
  width: 280px;
  height: 55px;
  border-radius: 100px;
  background-color: #d9534f; /* Red color for deletions */
  font-size: 16px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  color: #ffffff;
  border: 2px solid #d9534f; /* Border color matching the background */

}

::ng-deep .mat-slide-toggle{
  height: 27px !important;
  width: 46px !important;
  border-radius: 36px !important;

}