
.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
    height: 100vh;
    padding: 0 16px;
    padding-top: 100px; 
    box-sizing: border-box;
  
  }
  
  .settings-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22.40%;
    height: 80px;
    background-color: #5DB075;
    padding: 8px 16px;
    color: rgb(0, 0, 0);
    z-index: 1000; 
  }
  
  .settings {
    flex: 1 1 auto;
    font-size: 25px;
    font-weight: bold;
    margin: 8px 0;
    margin-top: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
  }

.profile {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

.profile-image-container {
    position: relative;
    display: inline-block;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid #5DB075;
}

.camera_enhance {
    position: absolute;
    bottom: 480px; /* Adjust as necessary */
    right: 680px; /* Adjust as necessary */
    background-color: #5DB075; /* Optional: Add background color to button */
    border-radius: 50%; /* Optional: Make the button round */
    padding: 5px; /* Optional: Add some padding */
    height: 35px;
    width: 35px;
    font-size: 24px; /* Adjust the icon size if needed */
    color: rgb(0, 0, 0); /* Icon color */
}

.camera_enhance mat-icon {
    font-size: 20px; /* Adjust the icon size */
    margin-top: 1px;
}

.center-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure full width */
    text-align: center; /* Center text */
}

p {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 0;
    align-items: center;
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}

p.a {
    font-size: 10px;
    margin-top: 0px;
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    color: #929292;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 10px;
}

.form-group {
    width: 100%;
    margin-bottom: 1rem;
    margin-right: 25px;
}

label {
    font-size: 1rem;
    font-weight: bold;
    color: #5DB075;
    margin-bottom: 0.5rem;
    display: block;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #F6F6F6;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #E8E8E8;
}

.menu-button {
    color: rgb(0, 0, 0);
    position: absolute;
    left: 16px; /* Adjust as necessary */
    font-size: 24px; /* Increase font size */
    padding: 12px; /* Increase padding */
}

.menu-button mat-icon {
    font-size: 30px; /* Increase icon size */
    font-weight: bold;
}

h1 {
    margin: 0; /* Reset margins */
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 20px;
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}

.change-password-label { 
    font-size: 15px;
    font-weight: bold;
    color: #5DB075; 
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-left: 170px;
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}

.save-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #5DB075;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

.icon {
    color: black;
}
