.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px; /* Adjust the width as necessary */
    margin: auto; /* Center the container */
    height: 500px;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    width: 100%;
    height: 80px;
    background-color: #5DB075;
    padding: 8px 16px; /* Reduced padding for thinner appearance */
    color: rgb(0, 0, 0);
    position: relative;
}

.profile-image {
    border-radius: 50%;
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border: 1px solid #5DB075;
}
// :host {
//     position: relative;
//     width: 48px;
//     height: 48px;
//     flex-direction: column;
//     align-items: flex-start;
//     overflow: hidden;
//   }
// .icon {
//     position: absolute;
//     left: 4.1667%;
//     right: 4.1667%;
//     top: 12.5%;
//     bottom: 12.5%;
//     overflow: visible;
//   }
//   .icon2 {
//     width: 50%;
//     height: 50%;
//     object-fit: cover;
//   }

p {
    font-size: 20px;
    margin-bottom: 5px;
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}

p.a {
    font-size: 15px;
    margin-top: 0px;
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    color: #929292;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 10px;
}

.form-group {
    width: 100%;
    margin-bottom: 1rem;
    margin-right: 25px;
}

label {
    font-size: 1rem;
    font-weight: bold;
    color: #5DB075;
    margin-bottom: 0.5rem;
    display: block;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #F6F6F6;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #E8E8E8;
}

.menu-button {
    color: rgb(0, 0, 0);
    position: absolute;
    left: 16px; /* Adjust as necessary */
    font-size: 24px; /* Increase font size */
    padding: 12px; /* Increase padding */
}

.menu-button mat-icon {
    font-size: 30px; /* Increase icon size */
    font-weight: bold;
}

h1 {
    margin: 0; /* Reset margins */
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 20px;
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}
.change-password-label {
    font-size: 1rem;
    font-weight: bold;
    color: #5DB075; /* Set the color to black */
    margin-bottom: 0.5rem;
    margin-left: 170px
}
.save-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #5DB075;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 70px;
  }

