.sidenav-container {
  width: 430px;
  height: 932px;
}

.sidenav {
  width: 327px; 
  border-top-right-radius: 12px; 
  border-bottom-right-radius: 12px; 
  display: flex;
  flex-direction: column;
}

.profile-section {
  background-color: #5DB075; 
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 206px; 
  border-top-right-radius: 12px; 
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 8px;
  border: 1px solid black;
  margin-right: 50px;
}

.profile-name {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

mat-nav-list {
  flex-grow: 1; 
  padding-top: 0;
  padding-bottom: 364px;
}

mat-list-item {
  font-size: 1em;
  padding: 16px;
}

.logout-section {
  width: 100%; 
  padding: 0;
  padding-top: 10px;
}

.logout-item {
  text-align: left;
}

.bottom-section {
  display: flex;
  background-color: #5DB075; 
  border-bottom-right-radius: 12px; 
  height: 75px; 
}