<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="mode">
      <mat-nav-list>
        <mat-list-item>
          <img src="path-to-profile-picture.jpg" alt="Profile Picture" class="profile-picture">
          <span class="profile-name">CSUxNTT</span>
        </mat-list-item>
        <mat-list-item routerLink="/admin-dashboard" (click)="sidenav.close()">Dashboard</mat-list-item>
        <mat-list-item routerLink="/admin-forms" (click)="sidenav.close()">Forms</mat-list-item>
        <mat-list-item routerLink="/admin-about" (click)="sidenav.close()">About</mat-list-item>
        <mat-list-item routerLink="/admin-settings" (click)="sidenav.close()">Settings</mat-list-item>
        <mat-list-item (click)="logout()">Log out</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  