.back-button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    width: 100%; /* Ensure full width */
    margin-top: 10px; /* Adjust as necessary */
}

.back-button {
    color: rgb(0, 0, 0);
    font-size: 24px; /* Increase font size */
    margin-right: auto;
    padding: 12px; /* Increase padding */
}

.back-button mat-icon {
    font-size: 30px; /* Increase icon size */
    font-weight: bold;
    margin-top: 50px;
    
}

.fp{
    text-align: left; /* Center text horizontally */
    margin-left: 55px;
    font-weight: 550;
    margin-bottom: 5px;
}

.enter{
    font-size: 12px;
    color: #BDBDBD;
    margin-left: 55px;
    margin-top: 0;
    margin-bottom: 20px;

}

.verify-button {
    width: 70%;
    padding: 0.75rem;
    background-color: #5DB075;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 70px;
    margin-left: 55px;
  }

  