<div class="signup-container">
  <div class="logo">
    <span class="rate">RATE</span>
    <span class="smart">SMART</span>
  </div>

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <!-- Name Field -->
    <mat-form-field appearance="outline" class="form-group" [hideRequiredMarker]="hideRequired()">
      <mat-label>Name</mat-label>
      <input matInput id="name" formControlName="name" type="text" />
      <mat-error *ngIf="signUpForm.get('name')?.touched && signUpForm.get('name')?.invalid">
        <small *ngIf="signUpForm.get('name')?.errors?.['required']">Name is required.</small>
      </mat-error>
    </mat-form-field>
  
    <!-- Username Field -->
    <mat-form-field appearance="outline" class="form-group" [hideRequiredMarker]="hideRequired()">
      <mat-label>Username</mat-label>
      <input matInput id="username" formControlName="username" type="text" />
      <mat-error *ngIf="signUpForm.get('username')?.touched && signUpForm.get('username')?.invalid">
        <small *ngIf="signUpForm.get('username')?.errors?.['required']">Username is required.</small>
      </mat-error>
    </mat-form-field>
  
    <!-- Password Field -->
    <mat-form-field appearance="outline" class="form-group" [hideRequiredMarker]="hideRequired()">
      <mat-label>Password</mat-label>
      <input matInput id="password" formControlName="password" type="password" />
      <mat-error *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.invalid">
        <small *ngIf="signUpForm.get('password')?.errors?.['required']">Password is required.<br></small>
        <small *ngIf="signUpForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.<br></small>
        <small *ngIf="signUpForm.get('password')?.errors?.['pattern']">Password must contain at least one special character.</small>
      </mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" class="signup-button" type="submit">Sign Up</button>
  </form>

  <p class="login-link">
    Already have an Account? <a routerLink="/login">Login</a>
  </p>
</div>
