.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px; // Spacing between logo and form
  }

  .rate {
    color: #2d6936;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0; // No margin bottom for rate
  }

  .smart {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 1px #2D6936; // Text stroke for smart
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;

    .form-group {
      width: 100%;
      margin-bottom: 1rem;

      label {
        font-size: 1rem;
        font-weight: bold;
        color: #5DB075;
        margin-bottom: 0.5rem;
        display: block;
      }

      input {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #F6F6F6;
        border-radius: 10px;
        font-size: 1rem;
        background-color: #E8E8E8;
      }

      small {
        color: #ff0000; // Error message color
        font-size: 0.875rem;
      }
    }

    .signup-button {
      width: 100%;
      padding: 0.75rem;
      background-color: #5DB075;
      color: #ffffff;
      border: none;
      border-radius: 50px;
      font-size: 1rem;
      cursor: pointer;
      margin-top: 1rem;
    }
  }

  .login-link {
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: bold;

    a {
      color: #2e7d32;
      text-decoration: none;
      font-weight: bold;
    }
  }
}
