@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap');

.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 0 20px;
}

.splash-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex; 
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 150px; /* Add this line for spacing */
}

.rate {
  color: #2d6936;
  font-size: 70px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 295px;
  height: 70px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: none;
}

.smart {

  color: #fff;
  font-size: 48px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 324px;
  height: 117px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  -webkit-text-stroke: 1px #2D6936;
}

.sign-up {
  left: 0;
  top: 0;
  bottom: 10px; /* Remove this line if you are using margin for spacing */
  margin-bottom: 10px; /* Add this line for spacing */
  width: 280px;
  height: 51px;
  border-radius: 100px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  color: #187934;
  border: 2px solid #5db075;
}


.login {
  left: 0;
  top: 0;
  margin-top: 5px; /* Add this line for spacing */
  width: 280px;
  height: 51px;
  border-radius: 100px;
  background-color: #5db075;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  border: none;
}


