<div [ngClass]="[settings.theme === 'dark' ? 'dark-theme' : 'light-theme', color + '-palette']">
    <div class="settings-container">
      <mat-toolbar class="settings-header" color="primary">
        <button mat-icon-button class="menu-button" (click)="openSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="settings">Rate Smart Logo</span>
      </mat-toolbar>

    <p>Name of Section</p>
<hr>

    <div class="age-container">
        <p class="age-text">Age</p>
        <div class="age">
            <input type="text" placeholder="Your Age">
        </div>
    </div>
<hr class="age-line">
    <div class="date">
        <p class="age-text">Birth Date</p>
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="selected"></mat-calendar>
          </mat-card>
    </div>
    <button mat-raised-button  class="next-button">Next</button>
</div>
