<div class="start-container">
    <header class="start-header">
        <h1>Rate Smart Logo</h1>
    </header>

    <p>Name of Section</p>
<hr>

    <div class="age-container">
        <p class="age-text">Age</p>
        <div class="age">
            <input type="text" placeholder="Your Age">
        </div>
    </div>
<hr class="age-line">
    <div class="date">
        <p class="age-text">Birth Date</p>
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="selected"></mat-calendar>
          </mat-card>
    </div>
    <button mat-raised-button  class="next-button">Next</button>
</div>
