<div class="customize-container">
  <header class="customize-header">
    <button mat-icon-button class="menu-button" (click)="openSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Customize</h1>
    <img src="path/to/profile/image.jpg" alt="Profile" class="profile-image">
  </header>

  <div class="header-actions">
    <div class="back-button-container">
      <button mat-icon-button class="back-button">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div class="form-section">
      <p class="form">FORMS</p>
    </div>
    
    <!-- div feedback section
    input class feedback title input -->
    <!-- <input matInput placeholder="Feedback Title" class="feedback-title-input"> -->