<div [ngClass]="[settings.theme === 'dark' ? 'dark-theme' : 'light-theme', color + '-palette']">
  <div class="settings-container">
    <mat-toolbar class="settings-header" color="primary">
      <button mat-icon-button class="menu-button" (click)="openSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="settings">Customize Form</span>
      <img src="path/to/profile/image.jpg" alt="Profile" class="profile-image">
    </mat-toolbar>

  <div class="header-actions">
    <div class="back-button-container">
      <button mat-icon-button class="back-button">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div class="feedback-section">
      <input matInput placeholder="Feedback Title" class="feedback-title-input">
      <mat-icon class="feedback-icon">edit</mat-icon>
    </div>
    <div class="more-icon2 container">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-menu-button">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/admin-form-customize-logo">Edit</button>
      </mat-menu>
    </div>
  </div>

  <div class="stepper-container">
    <div class="stepper-nav">
      <button mat-icon-button (click)="prevStep()" [disabled]="selectedStep === 0">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <div class="step-indicator">
        <ng-container *ngFor="let step of getVisibleSteps(); let i = index">
          <button mat-button (click)="goToStep(step)" [disabled]="selectedStep === step">
            {{ step + 1 }}
          </button>
        </ng-container>
      </div>

      <button mat-icon-button (click)="nextStep()" [disabled]="selectedStep === sections.length - 1">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>

  <div class="card-container">
    <mat-card *ngIf="sections[selectedStep]">
      <mat-card-header>
        <div class="title-with-icons">
          <mat-icon class="edit-icon">edit</mat-icon>
          <input matInput placeholder="Section Title" [(ngModel)]="sections[selectedStep].title" class="section-title-input">
        </div>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let question of sections[selectedStep].questions; let j = index" class="question-container">
          <button mat-icon-button (click)="deleteQuestion(selectedStep, j)" class="delete-question-button">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-form-field class="full-width">
            <mat-label>Question</mat-label>
            <textarea matInput [(ngModel)]="question.questionText"></textarea>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Response Type</mat-label>
            <mat-select [(ngModel)]="question.responseType">
              <mat-option value="stars">Stars</mat-option>
              <mat-option value="numeric rating scale">Number Rating Scale</mat-option>
              <mat-option value="text">Text</mat-option>
              <mat-option value="checkboxes">Checkboxes</mat-option>
              <mat-option value="dropdown">Dropdown</mat-option>
              <mat-option value="numeric input">Numeric Input</mat-option>
              <mat-option value="multiple-choice">Multiple Choice</mat-option>
              <mat-option value="emoji">Emoji/Emoticon</mat-option>
              <mat-option value="chips">Chips</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Conditionally render multiple-choice options -->
          <div *ngIf="question.responseType === 'multiple-choice'" class="full-width multiple-choice-container">
            <mat-form-field class="full-width">
              <mat-label>New Option</mat-label>
              <input matInput [(ngModel)]="newOption" (keydown.enter)="addOption(selectedStep, j)" placeholder="Add new option">
            </mat-form-field>

            <!-- Display radio buttons for multiple-choice options -->
            <mat-radio-group [(ngModel)]="question.selectedOption">
              <div *ngFor="let option of question.options; let i = index" class="option-container">
                <mat-radio-button [value]="option">{{ option }}</mat-radio-button>
                <button mat-icon-button (click)="deleteOption(selectedStep, j, i)" class="delete-option-button">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-radio-group>
            <button mat-raised-button (click)="addOption(selectedStep, j)">Add Option</button>
          </div>

          <!-- Conditionally render other types -->
          <div *ngIf="question.responseType === 'stars'" class="full-width star-rating-container">
            <mat-form-field class="flex-grow">
              <mat-label>Minimum Stars</mat-label>
              <mat-select [(ngModel)]="question.minStars">
                <mat-option *ngFor="let option of starOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="flex-grow">
              <mat-label>Maximum Stars</mat-label>
              <mat-select [(ngModel)]="question.maxStars">
                <mat-option *ngFor="let option of starOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="question.responseType === 'numeric rating scale'" class="full-width numeric-rating-scale-container">
            <mat-form-field class="flex-grow">
              <mat-label>Minimum Rating</mat-label>
              <mat-select [(ngModel)]="question.minRating">
                <mat-option *ngFor="let option of ratingOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="flex-grow">
              <mat-label>Maximum Rating</mat-label>
              <mat-select [(ngModel)]="question.maxRating">
                <mat-option *ngFor="let option of ratingOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field *ngIf="question.responseType === 'numeric input'" class="full-width">
            <mat-label>Numeric Input</mat-label>
            <input matInput type="text" [(ngModel)]="question.numericValue" placeholder="Enter a number" (input)="validateNumber($event)">
          </mat-form-field>

          <mat-form-field *ngIf="question.responseType === 'text'" class="full-width">
            <mat-label>Text Input</mat-label>
            <input matInput type="text" [(ngModel)]="question.textValue" placeholder="Enter text">
          </mat-form-field>
        </div>
        <div class="add-questions">
          <button mat-raised-button (click)="addQuestion(selectedStep)">Add Question</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="add-section-button-container">
    <button mat-raised-button (click)="addSection()">Add Section</button>
  </div>
  <mat-card-actions>
    <div class="card-actions-container">
      <button mat-raised-button (click)="deleteSection(selectedStep)" class="delete-section-button">Delete</button>
      <button mat-raised-button color="primary" (click)="saveSection()" class="save-button">Save</button>
    </div>
  </mat-card-actions>
</div>