.back-button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    width: 100%; /* Ensure full width */
    margin-top: 10px; /* Adjust as necessary */
}

.back-button {
    color: rgb(0, 0, 0);
    font-size: 24px; /* Increase font size */
    margin-right: auto;
    padding: 12px; /* Increase padding */
}

.back-button mat-icon {
    font-size: 30px; /* Increase icon size */
    font-weight: bold;
    margin-top: 50px;
    
}

.sp{
    text-align: left; /* Center text horizontally */
    margin-left: 55px;
    font-weight: 550;
    margin-bottom: 5px;
}

.set{
    font-size: 12px;
    color: #BDBDBD;
    margin-left: 55px;
    margin-top: 0;
    margin-bottom: 20px;

}

.confirm-button {
    width: 70%;
    padding: 0.75rem;
    background-color: #5DB075;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 70px;
    margin-left: 55px;
  }

  form {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    max-width: 300px;
  }

    .form-group {
      width: 80%;
      margin-bottom: 1rem;
      margin-right: 25px;
      
      label {
        font-size: 1rem;
        font-weight: 500;
        color: #5DB075;
        margin-bottom: 0.5rem;
        display: block;
        margin-left: 37.5px;
      }  
      

      input {
        width: 80%;
        padding: 0.75rem;
        border: 1px solid #F6F6F6;
        border-radius: 10px;
        font-size: 12px;
        background-color: #E8E8E8;
        margin-left: 38px;
        align-items: center;
      
      }
  }

  