<button mat-icon-button class="back-button">
    <mat-icon>keyboard_arrow_left</mat-icon>
</button>

<div class="reset-container">
    <div>
        <p class="fp">Forgot Password?</p>
        <p class="enter">Please enter your email</p>
    </div>

<form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" placeholder="Email" [(ngModel)]="user.email" name="email" required />
    </div>
    <button type="submit" class="reset-button">Reset Password</button>
  </form>

  </div>