.back-button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    width: 100%; /* Ensure full width */
    margin-top: 10px; /* Adjust as necessary */
}

.back-button {
    color: rgb(0, 0, 0);
    font-size: 24px; /* Increase font size */
    margin-right: auto;
    padding: 12px; /* Increase padding */
}

.back-button mat-icon {
    font-size: 30px; /* Increase icon size */
    font-weight: bold;
    
}