
<div class="about-container">
  <header class="about-header">
    <button mat-icon-button class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>About Us</h1>
  </header>
  <p>Our Story</p>
  <div class="line"></div>
<div class="content">
  <div class="image-container">
    <img src="path/to/your/lol.png" alt="Ratesmart Logo" class="profile-image">
  </div>
  <p class="story-text">
    RATESMART was born out of a desire to make 
    feedback collection more efficient and insightful.
    Recognizing the challenges businesses face in understanding 
    and acting on customer input, our team set out to create a 
    tool that not only simplifies the feedback process but also 
    delivers actionable insights.
  </p>
</div>

<button class="contact-button">Contact Support</button>
<button class="privacy-button">Privacy Policy</button>
</div>