<div [ngClass]="[settings.theme === 'dark' ? 'dark-theme' : 'light-theme', color + '-palette']">
  <div class="settings-container">
    <mat-toolbar class="settings-header" color="primary">
      <button mat-icon-button class="menu-button" (click)="openSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="settings">About Page</span>
      <img src="path/to/profile/image.jpg" alt="Profile" class="profile-image">
    </mat-toolbar>

    <p>Our Story</p>
    <div class="line"></div>

    <div class="image-container">
      <img src="/frontend/src/assets/lol.png" alt="Ratesmart Logo" class="logo-image">
    </div>
    <p class="story-text">
      <span class="highlight">RATESMART</span> was born out of a desire to make 
      feedback collection more efficient and insightful.
      Recognizing the challenges businesses face in understanding 
      and acting on customer input, our team set out to create a 
      tool that not only simplifies the feedback process but also 
      delivers actionable insights.
    </p>

  <div class="button">
  <button class="contact-button">Contact Support</button>
  <button class="privacy-button">Privacy Policy</button>
  <div>
  </div>
</div>