.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px; /* Adjust the width as necessary */
  margin: auto; /* Center the container */
  height: 500px;
}
  
  .dashboard-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    background-color: #5DB075;
    padding: 8px 16px; /* Reduced padding for thinner appearance */
    color: rgb(0, 0, 0);
    position: relative; /* To use absolute positioning for centering */
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
    font-weight: thin;
  
    h1 {
      margin: 8px 0;
      margin-top: 40px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
    }
  
    .menu-button {
      color: rgb(0, 0, 0);
      position: absolute;
      left: 16px; /* Adjust as necessary */
      font-size: 24px; /* Increase font size */
      padding: 12px; /* Increase padding */
    }
    
    .menu-button mat-icon {
      font-size: 30px; /* Increase icon size */
      font-weight: bold;
    }
  
    .profile-image {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin-left: 300px;
      margin-top: 80px;
    }
  }
  
  .feedback-summary {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
  
    .feedback-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      
      h2 {
        margin: 8px 0;
      }
      .circle-container {
        display: flex;
        flex-wrap: wrap; /* Allows circles to wrap to the next line if there's not enough space */
        gap: 10px; /* Adjust the value to your desired spacing */
        justify-content: center; /* Center the circles horizontally */
      }
      .circle {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        display: flex;
        align-items: row;
        justify-content: center;
        border: 4px solid currentColor;
        margin: 10px; /* Adjust the value to your desired spacing */
      }
      
      .circle.positive {
        color: green;
      }
      
      .circle.negative {
        color: red;
      }
      
      .circle.neutral {
        color: yellow;
      }
      
      .circle.total {
      background-color: lightgray;
    }
 }
  }
  
  .recent-forms {
    width: 100%;
    margin-top: 16px;
  
    .form-item {
      width: 360px;
      height: 69px;
      border-radius: 12px;
      background-color: #e8eef1;

    }
  }
  