
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: auto;
  height: 100vh;
  padding: 0 16px;
  padding-top: 100px; 
  box-sizing: border-box;

}

.settings-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22.40%;
  height: 80px;
  background-color: #5DB075;
  padding: 8px 16px;
  color: rgb(0, 0, 0);
  z-index: 1000; 
}
.settings {
  flex: 1 1 auto;
  font-size: 25px;
  font-weight: bold;
  margin: 8px 0;
  margin-top: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
}

.profile-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 340px;
  border: 1px solid #000000;
}
  
  p {
    font-size: 20px;
  }
  
  .menu-button {
    color: rgb(0, 0, 0);
    position: absolute;
    left: 16px;
    font-size: 24px;
    padding: 12px;
  }
  
  .menu-button mat-icon {
    font-size: 30px;
    font-weight: bold;
  }
  
  h1 {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 25px;
    margin-top: 20px;
    transform: translate(-50%, -50%);
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px;
    justify-content: space-between;
  }
  
  .feedback-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
  }
  
  .feedback-section p {
    margin: 0;
  }
  
  .feedback-icon {
    margin-left: 8px;
  }
  
  .feedback-title-container {
    display: flex;
    justify-content: center;
    width: 90%;  
  }
  
  .feedback-title-input {
    flex-grow: 1;
    font-size: 1.25rem;
    border: none;
    outline: none;
    padding: 8px;
    text-align: center;  
  }
  
  .more-icon-2 {
    cursor: pointer;
    margin-left: 8px;
    border: none;
    background: rgb(255, 251, 251);
  }
  
  .back-button-container {
    display: flex;
    align-items: center;
  }
  
  .back-button {
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding: 12px;
  }
  
  .back-button mat-icon {
    font-size: 30px;
    font-weight: bold;
  }
  
  
  .title-with-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .section-title-input {
      flex-grow: 1;
      font-size: 1.25rem;
      border: none;
      outline: none;
      padding: 8px;
    }
  
    .edit-icon {
      margin-right: 8px;
    }
  
    .more-icon {
      cursor: pointer;
      margin-left: 8px;
    }
  }
  .anal-container{
    width: 90%;
  }
  mat-card {
    width: 100%;
    margin-bottom: 16px;
  }

  .responses-card {
    padding: 16px;
    text-align: center;
  
    .responses-content {
      display: flex;
      justify-content: space-between; 
      align-items: center;
    }
  
    .response-count {
      font-size: 48px;
      text-align: center;
      font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    }
  
    .respo {
      font-size: 15px;
      margin: 0; 
      font-weight: thin;
      font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    }
  }

  .stars {
    display: flex;
    justify-content: center;
  
    mat-icon {
      color: gold;
      font-size: 36px;
      margin: 0 5px; 
    }
  }

  .suggestion-chart {
    p {
      margin: 8px 0;
    }

    mat-progress-bar {
      width: 90%;
      margin-bottom: 8px;
    }
  }
